#{extends 'main.html' /}
#{set title:'Home' /} 

 <!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Lista de Pacientes</title>

  <!-- Custom fonts for this template-->
  <link href="@{'public/sb/vendor/fontawesome-free/css/all.min.css'}" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="@{'public/sb/vendor/datatables/dataTables.bootstrap4.css'}" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="@{'public/sb/css/sb-admin.css'}" rel="stylesheet">

</head>

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
       

        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Lista de Pacientes</div>
          <div class="card-body">
            <div class="table-responsive">                     
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th rowspan="1" colspan="1">Name</th>                    
                    <th rowspan="1" colspan="1">Foto</th>                  
                    <th rowspan="1" colspan="1">Email</th>
                    <th rowspan="1" colspan="1">CPF</th>
                    <th rowspan="1" colspan="1">Editar</th>
                    <th rowspan="1" colspan="1">Remover</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th rowspan="1" colspan="1">Name</th>
                    <th rowspan="1" colspan="1">Foto</th>
                    <th rowspan="1" colspan="1">Email</th>
                    <th rowspan="1" colspan="1">CPF</th>
                    <th rowspan="1" colspan="1">Editar</th>
                    <th rowspan="1" colspan="1">Remover</th>
                  </tr>
                </tfoot>
                <tbody>
                  #{list items:pacientes, as: 'pac'}                  
                  <tr>
                    <td>${pac.nome} ${pac.sobrenome}</td>
                    <td><img alt="" width="40px" height="40px" src="@{Pacientes.mostrarImagemPerfil(pac.id)}"></td>
                    <td>${pac.email}</td>
                    <td>${pac.cpf}</td>                                                    
                    <td>
                    	<a class="btn btn-primary" title='Editar' href="@{Pacientes.editar(pac.id)}"><i class="fa fa-edit"></i></a>           				
           			</td>
           			<td>
           				<a class="btn btn-danger" title='Remover' href="@{Pacientes.excluir(pac.id)}"><i class="fa fa-remove"></i></a>
           			</td>           			  
                  </tr>
                 #{/list}                                   
                </tbody>                      
              </table>             
               #{else}
					<div class="btn btn-danger">nenhum paciente cadastrado</div>
		 		 #{/else}            
            </div>             
          </div>        
        </div>

       
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="@{'public/sb/vendor/jquery/jquery.min.js'}"></script>
  <script src="@{'public/sb/vendor/bootstrap/js/bootstrap.bundle.min.js'}"></script>

  <!-- Core plugin JavaScript-->
  <script src="@{'public/sb/vendor/jquery-easing/jquery.easing.min.js'}"></script>

  <!-- Page level plugin JavaScript-->
  <script src="@{'public/sb/vendor/datatables/jquery.dataTables.js'}"></script>
  <script src="@{'public/sb/vendor/datatables/dataTables.bootstrap4.js'}"></script>

  <!-- Custom scripts for all pages-->
  <script src="@{'public/sb/js/sb-admin.min.js'}"></script>

  <!-- Demo scripts for this page-->
  <script src="@{'public/sb/js/demo/datatables-demo.js'}"></script>

</body>

</html>
 