#{extends 'main2.html' /}
#{set title:'Home' /}
<head>
 <meta charset="utf-8">
</head>
<div id="content-wrapper">

      <div class="container-fluid">
<!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a >Opções</a>
          </li>
          
        </ol>

      </div>
      <!-- /.container-fluid -->


    </div>
<!-- Icon Cards-->
        <div class="row">
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-comments"></i>
                </div>
                <div class="mr-5">Agendar Consulta</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="@{Consultas.formPac}">
                <span class="float-left">Abrir</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-warning o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-list"></i>
                </div>
                <div class="mr-5">Suas Consultas</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="@{Pacientes.listarConsultasPaciente()}">
                <span class="float-left">Abrir</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-danger o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-life-ring"></i>
                </div>
                <div class="mr-5">Sobre o Sistema</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="@{Application.info}">
                <span class="float-left">Detalhar</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
        
        
        
        
        
        

        <!-- Area Chart Example-->
        

        <!-- DataTables Example -->
       
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
