

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>#{set title:'Home' /}</title>

  <!-- Custom fonts for this template-->
  <link href="@{'public/sb/vendor/fontawesome-free/css/all.min.css'}" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="@{'public/sb/vendor/datatables/dataTables.bootstrap4.css'}" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="@{'public/sb/css/sb-admin.css'}" rel="stylesheet">

</head>

<center><h1>Erro!</h1>
<h3>Nome ou senha incorretos.</h3></center>

<center><a class="navbar-brand mr-1" href="@{Application.index}">Tente novamente</a></center>
