#{extends 'main2.html' /}
#{set title:'Detalhes' /}

 <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  	 	
  <!-- Custom fonts for this template-->
  <link href="@{'/public/sb/vendor/fontawesome-free/css/all.min.css'}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="@{'/public/sb/css/sb-admin.css'}" rel="stylesheet">

</head>

<div class="card mb-3">
  	<div class="card-header">
    	<i class="fa fa-fw fa-bookmark"></i> Detalhes do requerimento</div>
    	
  	<div class="card-body">	
		   
  		Descrição: 	${consulta.descricao} <br>
		Diagnóstico: ${consulta.diagnostico}<br>
		Data: 	${consulta.data}<br>
		Tipo de consulta: ${consulta.tipo}
		Status da consulta: ${consulta.stac}		
		<br>		
		<br>
		     
	</div>
</div>