#{extends 'mainMed.html' /}
#{set title:'Home' /}

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>#{set title:'Home' /}</title>

  <!-- Custom fonts for this template-->
  <link href="@{'/public/sb/vendor/fontawesome-free/css/all.min.css'}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="@{'/public/sb/css/sb-admin.css'}" rel="stylesheet">

</head>


<body class="bg-white">

  <div class="container">
    
    
    <div class="card mb-3">
	  <div class="card-header">
	    <i class="fa fa-fw fa-bookmark"></i> Formulário de Consultas</div>
	  <div class="card-body">
	  
   <!--    <div class="card-header">Formulário de Consultas</div> -->
      <div class="card-body">
      <form action="@{Consultas.salvarMed}" method="post">
        <input type="hidden" name="consulta.id" value="${consulta?.id}"><br>
          <div class="form-group">
           

			    	<!-- Tipo de consulta -->      
					<select class="form-control" name="consulta.tipo.id" required="required"> 
						<option value="">Tipo de consulta</option>	
						#{list items: tipos, as: 'tipo' }
						<option  #{if consulta?.tipo.equals(tipo)}selected#{/if}>${tipo}</option>
						#{/list}
					</select><br>
					
					 	<!-- Status da Consulta -->
					<select class="form-control" name="consulta.stac.id" required="required"> 
						<option value="">Status da consulta</option>
						#{list items: stac, as: 'stac' }
						<option  #{if consulta?.stac.equals(stac)}selected#{/if}>${stac}</option>
						#{/list}
					</select> 
					
		        </div>
				<div class="form-label-group">
                <div class="col-md-6"> 
                <div class="form-row">  	
                 <label for="datepicker">Data</label>
			 	<input id="datepicker" class="datepicker col-5 date #{ifError 'consulta.data'} is-invalid#{/ifError}" 
			 	name="consulta.data" value="$consulta == null ? flash['consulta.data'] : consulta?.data?.format('dd/MM/yyyy')}"/ required="required">
				#{ifError 'consulta.data'}
        	   	<div class="invalid-feedback">#{error 'consulta.data' /}</div>  	   		 
        	   	#{/ifError} 
        	   	</div>
        	   	</div>
        	   <br>
        	    <div class="form-group">
        	   
                  <label for="${consulta?.id}">Descrição</label>  
                   <textarea required="required" value="${consulta?.descricao}" name="consulta.descricao" class="form-control #{ifError 'consulta.descricao'} is-invalid#{/ifError}" 
			  			rows="5" id="${consulta?.id}">${flash['consulta.descricao']}</textarea> 			  			                                                
                <br>
                
                <label for="${consulta?.id}">Diagnóstico</label>  
                 <textarea required="required" value="${consulta?.diagnostico}" name="consulta.diagnostico" class="form-control #{ifError 'consulta.diagnostico'} is-invalid#{/ifError}" 
			  			rows="5" id="${consulta?.id}">${flash['consulta.diagnostico']}</textarea>
			  			
               </div>  
                      
			 
				
		
			 
	
                <div class="form-group">
                
  
                
              </div>                              
              </div>   	            
            </div>
              </div>
              </div>
                <input class="btn btn-primary btn-block" type="submit" value="Salvar">
              </div>
              
               <br>
            
        </form>
        <div class="text-center">
          
        </div>
      </div>
      <!-- <center><a class="d-block small mt-3" href="@{Logins.form}">Página de login</a>
          <a class="d-block small" href="forgot-password.html">Esqueceu senha?</a></center> -->
    </div>
    



</body>


