#{extends 'main.html' /}
#{set title:'Home' /}

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>#{set title:'Home' /}</title>

  <!-- Custom fonts for this template-->
  <link href="@{'/public/sb/vendor/fontawesome-free/css/all.min.css'}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="@{'/public/sb/css/sb-admin.css'}" rel="stylesheet">

</head>

Listar:<br>

<div class="container-fluid">
<!-- Breadcrumbs-->

          <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="@{Funcionarios.listar}">Funcionários</a>
          </li>
        </ol>
     
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="@{Pacientes.listar}">Pacientes</a>
          </li>
        </ol>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="@{Medicos.listar}">Médicos</a>
          </li>
        </ol>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="@{Tipos.listar}">Consultas</a>
          </li>
        </ol>